flows.json
[{"id":"5c153c33.abf404","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"336b10a4.a5ac8","type":"inject","z":"5c153c33.abf404","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[["81437f19.f4bb3"]]},{"id":"81437f19.f4bb3","type":"debug","z":"5c153c33.abf404","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":120,"wires":[]},{"id":"850164d8.5e53e8","type":"debug","z":"5c153c33.abf404","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":260,"wires":[]},{"id":"1675eeba.362c61","type":"status","z":"5c153c33.abf404","name":"","scope":null,"x":220,"y":260,"wires":[["850164d8.5e53e8"]]},{"id":"65a9251a.4458fc","type":"switch","z":"5c153c33.abf404","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":200,"wires":[["81437f19.f4bb3","850164d8.5e53e8"]]}]